* {
  margin: 0px;
  padding: 0px;
  font-family: "Vollkorn", serif;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*Styling of List*/

.imageList li {
  border-radius: 0.5rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selected {
  color: white;
  background-color: rgb(19, 85, 207);
}

.imageList img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.6rem;
  object-fit: cover;
}

/*Styling of Image */
.imageDisplay {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.image {
  height: 50rem;
  width: 32rem;
  border-radius: 0.2rem;
  object-fit: cover;
}

.imageCaption {
  opacity: 0.7;
  text-align: center;
}
